<!-- vision_identification.launch -->
<launch>
  <include file="$(find usb_cam_launch)/launch/usb_cam.launch"/>

  <!-- Nó de detecção -->
  <node pkg="robot_perception"
        type="vision_identification.py"
        name="vision_identification"
        output="screen">

    <!-- Parâmetros -->
    <param name="root_dir"    value="$(find robot_perception)"/>
    <param name="model"       value="models/modelo2.pt"/>
    <param name="camera_device" value="/dev/cameraGarra"/>
    <param name="display"     value="false"/>
    <param name="conf_thresh" value="0.60"/>
  </node>
</launch>
