<launch>
  <arg name="enable_accel"  default="true"/>
  <arg name="enable_gyro"   default="true"/>
  <arg name="enable_color"  default="true"/>
  <arg name="enable_depth"  default="true"/>
  <arg name="color_width"   default="640"/>
  <arg name="color_height"  default="480"/>
  <arg name="color_fps"     default="30"/>
  <arg name="depth_width"   default="640"/>
  <arg name="depth_height"  default="480"/>
  <arg name="depth_fps"     default="30"/>
  <arg name="color_format"             default="YUYV"/>
  <arg name="hold_back_imu_for_frames" default="false"/>
  <arg name="unite_imu_method"         default="linear_interpolation"/>

  <!-- Inicializa pacote da RealSense -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_accel"   value="$(arg enable_accel)"/>
    <arg name="enable_gyro"    value="$(arg enable_gyro)"/>
    <arg name="enable_color"   value="$(arg enable_color)"/>
    <arg name="enable_depth"   value="$(arg enable_depth)"/>
    <arg name="color_width"    value="$(arg color_width)"/>
    <arg name="color_height"   value="$(arg color_height)"/>
    <arg name="color_fps"      value="$(arg color_fps)"/>
    <arg name="depth_width"    value="$(arg depth_width)"/>
    <arg name="depth_height"   value="$(arg depth_height)"/>
    <arg name="depth_fps"      value="$(arg depth_fps)"/>
    <arg name="unite_imu_method" value="$(arg unite_imu_method)"/>
  </include>

  <param name="camera/color_format"              value="$(arg color_format)"/>
  <param name="camera/hold_back_imu_for_frames"  value="$(arg hold_back_imu_for_frames)"/>

  <!-- Inicializa pacote do RPLidar -->
  <include file="$(find rplidar_ros)/launch/rplidar_a2m12.launch"/>

  <!-- Inicializa o controle do robô (Hardware interface)-->
  <include file="$(find robot_base_controller)/launch/hw_interface.launch"/>

  <!-- Inicializa o braço do robô -->
  <!-- <include file="$(find robot_manipulation)/launch/robot_manipulation.launch"/> -->

</launch>