<launch>

  <!-- Inicia a comunicação I2C com o baixo nível -->
  <node name="i2c_master_arduino" pkg="robot_manipulation" type="i2c_master_arduino.py" output="screen"/> 

  <!-- Inicia a interface do manipulador -->
  <node name="manipulation_interface" pkg="robot_manipulation" type="manipulation_interface.py" /> 

</launch>