<!-- mapping_real.launch -->
<launch>

  <!-- 1. Descrição e TF do robô -->
  <param name="robot_description" textfile="$(find robot_description)/urdf/robot_description.urdf" />

  <include file="$(find robot_navigation)/launch/imu_filter.launch"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher">
    <param name="publish_frequency" value="50"/>
  </node>

  <!-- (opcional) joint_state_publisher caso o driver ainda não publique -->
  <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher"/>

</launch>
