<!-- navigation_real.launch -->
<launch>

  <!-- 0. Relógio real (NÃO use_sim_time) -->
  <!-- Se seu driver publica /clock, mantenha use_sim_time="false" -->
  
  <!-- 1. Descrição + TF de juntas -->
  <param name="robot_description" textfile="$(find robot_description)/urdf/robot_description.urdf" />

  <node pkg="robot_state_publisher" type="robot_state_publisher"
        name="robot_state_publisher">
    <param name="publish_frequency" value="50"/>
  </node>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

  <!-- 3. Filtro Madgwick + EKF (reaproveita seu YAML já ajustado) -->
  <include file="$(find robot_navigation)/launch/ekf_imu.launch"/>

  <!-- <node pkg="tf" type="static_transform_publisher" name="static_tf_map_to_odom" args="0 0 0 0 0 0 map odom 100" /> -->

  <!-- 4. Servidor de mapa pré-construído -->
  <node pkg="map_server" type="map_server" name="map_server"
        args="$(find robot_navigation)/maps/map.yaml"/>

  <!-- 5. Localização probabilística (AMCL)  -->
  <node pkg="amcl" type="amcl" name="amcl">
      <param name="odom_model_type" value="omni"/>
      <param name="odom_alpha5" value="0.1"/>
      
<!--Lowering transform_tolerance value may lead to Expolration Error. Adjust this value according to the processor capacity -->
      <param name="transform_tolerance" value="1.2" /> <!-- (maior relaxa precisão, acelera recuperação) -->

      <param name="gui_publish_rate" value="10.0"/> 
      <param name="laser_max_beams" value="60"/> <!-- Reduce number of laser beams for performance and increase for precision in ACML -->
      <param name="min_particles" value="500"/> <!-- (ajusta precisão; mais partículas = mais precisão, mais custo) -->
      <param name="max_particles" value="2000"/>
      <param name="kld_err" value="0.05"/>
      <param name="kld_z" value="0.99"/>
      <param name="odom_alpha1" value="0.2"/>
      <param name="odom_alpha2" value="0.2"/> 
      <!-- translation std dev, m -->
      <param name="odom_alpha3" value="0.8"/>
      <param name="odom_alpha4" value="0.2"/>
      <param name="laser_z_hit" value="0.5"/>
      <param name="laser_z_short" value="0.05"/>
      <param name="laser_z_max" value="0.05"/>
      <param name="laser_z_rand" value="0.5"/>
      <param name="laser_sigma_hit" value="0.2"/>
      <param name="laser_lambda_short" value="0.1"/>
      <param name="laser_lambda_short" value="0.1"/>
      <param name="laser_model_type" value="likelihood_field"/>
      <param name="laser_likelihood_max_dist" value="2.0"/>
      <param name="update_min_d" value="0.1"/>
      <param name="update_min_a" value="0.2"/>
      <param name="odom_frame_id" value="odom"/>
      <param name="resample_interval" value="1"/>
      <param name="recovery_alpha_slow" value="0.0"/>
      <param name="recovery_alpha_fast" value="0.0"/> 
  </node>

  <!-- 6. Navegação (move_base + costmaps) -->
  <include file="$(find robot_navigation)/launch/move_base_real.launch"/>

</launch>
